.tabs {
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 700px;
    margin: 0 auto;
}

.tab_item {
    text-align: center;
    display: block;
    float: left;
}

input[name="tab_item"] {
    display: none;
}

/*
.tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
}
*/

#all:checked ~ #all_content,
#programing:checked ~ #programing_content,
#design:checked ~ #design_content {
    display: block;
}
