body {
    width: 1000px;
    height: 1000px;
    background-color: #eee;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
}

.recipe {
    position: relative;
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
    background-color: white;
}

.cooking_name {
    text-align: center;
    position: absolute;
    font-size: 20px;
    top: 0;
}

.cooking_image {
    position: absolute;
    left: 0;
}

.cooking_info {
    position: absolute;
    top: 100px;
}
