<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Recipe Site</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">マイページ</a></li>
                <li><a href="#">履歴</a></li>
                <li><a href="#">設定</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <input class="search_box" type="text" id="keyword" name="keyword" value="料理名・食材・カテゴリで検索">

        <div class="all_category">
            <a class="each_category" href="">ごはんもの</a>
        </div>
    </main>
</body>
</html>
